:root {
    --Baggrundsfarve: #f0ebdf;
    --Mørkeblå: #0d3680;
    --Lyselila: #9e91f5;
    --Mørkegrøn: #345831;
    --Orange: #f86f3d;
    --lyserød: #ff8a8c;
    --Mørkbeige: #d8d3c3;
    --hvid: #ffffff;
    --sort: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--Baggrundsfarve);
    text-align: center;
}

/* Header-stil */
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--Baggrundsfarve);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.navbar {
    background-color: var(--Baggrundsfarve);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
    padding-right: 2rem;
}

.navbar img {
    width: 8rem;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 5rem;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: var(--sort);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0;
}

.navbar a:hover {
    color: var(--Mørkeblå);
}

#menu-bar {
    display: none;
}

.burger-label {
    font-size: 2rem;
    color: var(--sort);
    cursor: pointer;
    display: none;
}

.navbar img:hover {
    transform: scale(1.1);
}


.boks {
    background-color: var(--lyserød);
    padding-top: 0.3rem;
}


h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: bold;
    color: var(--hvid);
    font-size: 2rem;
    text-align: center;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: bold;
    color: var(--Mørkeblå);
    font-size: 5rem;
    text-align: center;
    margin-top: -0.01rem;
    margin-bottom: 4rem;
}

.populaere-kategorier {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
}

.kategorier {
    position: relative;
    text-align: center;
    color: white;
}

.kategorier img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5rem;
    border: 0.1rem solid var(--Baggrundsfarve);
}

.kategorier img:hover {
    transform: scale(1.1);
    transform-origin: center;
}

.kategorinavn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.galleri {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.plakat {
    width: 15rem;
    justify-items: center;
    object-fit: cover;
    margin: 2%;
}

.plakat img {
    width: auto;
    height: auto;
    object-fit: cover;
    border: 0.1rem solid #0d3680;
    padding: 0.5rem;
    transition: transform 0.3s ease;
}

.plakat:hover {
    transform: scale(0.99);
}

.plakat img:hover {
    border: 0.4rem solid #0d3680;
}

.plakattekst p {
    text-align: left;
    margin-top: 0.1rem;
    font-size: 0.8rem;
}

a {
    font-size: 2rem;
    padding: 0;
    text-decoration: none;
    color: #000;
    margin: 2rem;
}

a:hover {
    color: #f86f3d;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 0.9rem;
}

h5 {
    color: var(--hvid);
    font-size: 1rem;
    font-family: "Poppins", serif;
  }

h6 {
    color: var(--hvid);
    font-size: 0.7rem;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
}

.udvid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }
  .udvid img{
    height: 3.5rem;
  }
  
  .udvid img:hover{
    transform:scale(1.2);
    transition: .5s ease;
  }


  .footer {
    display: flex;
    justify-content: space-between;
    align-items: start; /* Justerer elementerne til at starte foroven */
    font-family: "Poppins", sans-serif;
    background-color: #0d3680;
    color: #fff;
    margin-top: 5rem;
}

/* Flex styling til hver footer-sektion */
.footer-section {
    display: flex;
    flex-direction: column; /* Laver en lodret stak af h2 og p */
    align-items: start; /* Justerer elementerne til venstre */
    margin-left: 1rem;
    margin-right: 5rem;
    padding: 2rem;
    margin-top: 2rem;
}

.footer-section h3 {
    margin: 0;
    font-size:1rem;
}

.footer-section p{
    margin-top: 0.5rem;
    font-size: 0.7rem;
    text-align: left;
}
  
  #Facebook{
    width: 5rem;
    height: auto;
  }

/* Media Queries for Mobile */
@media (max-width: 767px) {
    .navbar ul a {
        color: var(--hvid);
        font-size: 1.5rem;
    }

    .navbar ul a:hover {
        color: var(--Mørkeblå);
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--lyserød);
        padding: 1rem;
        align-items: center;
    }

    #menu-bar:checked ~ ul {
        display: flex;
    }

    .burger-label {
        display: block;
        width: 10rem;
        height: 13rem;
        font-size: 7rem;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer{
        flex-direction: column;
    }


    h1{
        font-size: 3.2rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .populaere-kategorier .kategorier:nth-child(1),
    .populaere-kategorier .kategorier:nth-child(5),
    .populaere-kategorier .kategorier:nth-child(3) {
        display: none;
    }

    .kategorier img {
        width: 6rem;
        height: 6rem;
    }

    .populaere-kategorier {
        gap: 1rem;
    }

    .arrow {
        font-size: 1rem;
        cursor: pointer;
    }

    .plakat {
        width: 8rem;
        margin: 5%;
    }

    .plakat img {
        height: 11rem;
    }

    .plakattekst {
        font-size: 0.5rem;
    }



}

/* Media Queries for Computer */
@media only screen and (min-width: 1024px) {
    .galleri {
        margin-left: 3%;
        margin-right: 3%;
        gap: 1rem;
    }

    .plakat {
        width: 15rem;
    }

    .plakat img {
        width: 15rem;
        height: auto;
    }
}

/* Media Queries for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        flex-direction: row;
    }

    .navbar img {
        width: 7rem;
        height: auto;
    }

    .navbar ul {
        gap: 1;
    }

    .populaere-kategorier .kategorier:nth-child(1),
    .populaere-kategorier .kategorier:nth-child(5),
    .populaere-kategorier .kategorier:nth-child(3) {
        display: none;
    }

    .kategorier img {
        width: 8rem;
        height: 8rem;
    }

    .galleri {
        gap: 1rem;
    }

    .plakat {
        width: 10rem;
    }

    .plakat img {
        width: auto;
        height: auto;
    }

    .plakattekst {
        font-size: 0.8rem;
    }

    h4 {
        font-size: 0.8rem;
    }
}