/**
 * file: css/index.css
 * purpose: styling
 **/

/* Define variables in the :root */
:root {
    /* Farvepalet: Plakaten */
       --white: #ffffff;
       --baggrund: #efefef;
       --moerkbrun:#322e26;
       --Moerkpink: #ec185b;
       --blaa: #3ec2d0;
       --lyserød: #ff81e6;
       --lilla: #7e0cec;
       --moerkeblå:#0A4E66; 
       --lysebrund:#635f56;
     }
    
    /* Skrifttyper, størrelse, udseende og placering */
    h1 {
        color:#322e26;
        font-family: "Poppins", serif;
        font-weight: 900;
        font-size: 7rem;
        font-style: italic;
      }

    h2 {
        color:#322e26;
        font-family: "Poppins", serif;
        font-weight: 800;
        font-size: 1.2rem;
        font-style: italic;
        text-align: center;
      }
    
    h3 {
      color:#efefef;
      font-family: "Poppins", serif;
      font-weight: 700;
      font-style: italic;
      text-align: center;
    }

    h4 {
        color:var(--moerkbrun);
        font-family: "Poppins", serif;
        font-weight: 700;
        font-size: 0.4rem;
        font-style: italic;
        text-align: center;
      }  

      h5 {
        color:#322e26;
        font-family: "Poppins", serif;
        font-weight: 600;
        font-size: 0.9rem;
        font-style: italic;
        text-align: center;
      }

      h6 {
        color:#322e26;
        font-family: "Poppins", serif;
        font-weight: 800;
        font-size: 1rem;
        font-style: italic;
        text-align: center;
      }

    p{
      color: #ec185b;
      font-family: "Poppins", serif;
      font-weight: 600;
      font-size: 1.2rem;
      font-style: italic;
      text-align: center;
    }
    
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
     /*B baggrund */
    body {
      background-color: var(--baggrund);
    }

/* Flex af logo og menupunkter i header */
.main-header {
    justify-content: center;
    align-items: center;
  }
  
  .logo{
  display: flex;
  justify-content: center;
  margin-right: 2rem;
  }
  
  /* Logo */
  .logo img {
    width: 46rem;
  }
  
  /* Flex og placering af menupunkter */
  .main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; /* mellemrum mellem nav tasterne*/
    margin-left: 11rem;
    margin-top: -5.5rem;
  }
  
  /* Styling af menupunkter */
  .main-nav ul li a {
    text-decoration: none;
    color: var(--moerkbrun);
    font-family: "Poppins", serif;
    font-size: 1.4rem;
    font-weight: 800;
    font-style: italic;
  }
  
  .main-nav ul li a:hover {
    color:#ec185b;
  }

  .overskrifttimeline{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 5rem;
  }

  .timelinetext{
   text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 1rem;
  }

  .timelinetext2{
    text-align: center;
     padding-left: 10rem;
     padding-right: 10rem;
     margin-top: 1rem;
   }


  section.koncert::-webkit-scrollbar {
    position: absolute;
  }
  
  /* Track */
  section.koncert::-webkit-scrollbar-track {
    background-color: var(--moerkbrun);
    border-radius: 15px;

  }
   
  /* Handle */
  section.koncert::-webkit-scrollbar-thumb {
    background: #635f56; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  section.koncert::-webkit-scrollbar-thumb:hover {
    background: #635f56; 
  }

  section.koncert {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    padding: 20px;
    gap: 10rem;
    margin-top: 5rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }

  section.koncert img {
    width: 30rem;
    height: 31rem;
    align-items: center;
  }

  .koncertboks1{
    position: relative;
    width: 30rem;
    height: 30rem;
    margin-left: 1rem;
  }
  .koncertboks1:hover{
    transform:scale(1.1);
    transition:.4s;
  }

  .koncertboks2{
    position: relative;
    width: 30rem;
    height: 30rem;
    margin-top: 1rem;
  }
  .koncertboks2:hover{
    transform:scale(1.1);
    transition:.4s;
  }

  .koncertboks3{
    position: relative;
    width: 30rem;
    height: 30rem;
    margin-bottom: 3rem;
  }
  .koncertboks3:hover{
    transform:scale(1.1);
    transition:.4s;
  }

  .koncertboks4{
    position: relative;
    width: 30rem;
    height: 30rem;
    margin-top: 1rem;
  }
  .koncertboks4:hover{
    transform:scale(1.1);
    transition:.4s;
  }

  .koncertboks5{
    position: relative;
    width: 30rem;
    height: 30rem;
  }
  .koncertboks5:hover{
    transform:scale(1.1);
    transition:.4s;
  }

  .tidslinje{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: start; /* Justerer elementerne til venstre */
    padding: 5rem;
    margin-top:-3rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }


/* Flex og placering af footer */
.footer {
    display: flex;
    align-items: start; /* Justerer elementerne til at starte foroven */
    font-family: "Poppins", sans-serif;
    background-color: var(--moerkbrun);
    color: var(--white);
    margin-top: 5rem;
  }
  
  /* Flex styling til hver footer-sektion */
  .footer-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column; /* Laver en lodret stak af h2 og p */
    align-items: start; /* Justerer elementerne til venstre */
    padding: 4rem;
  }
  
  .footer-section h3 {
    margin: 0;
    font-size:1rem;
  }
  
  .footer-section p{
    font-size: 0.7rem;
  }
  
  .ikoner{
    margin-top: 0.2rem;
    width: 6rem;
  }


/* Media for mobiltelefoner */
@media only screen and (min-width: 440px) and (max-width: 767px) {

    /* Skrifttyper, størrelse, udseende og placering, ændres da skalaen er mindre på telefon */
    
    h1{
        font-size: 6rem;
    }

    h2{
        font-size: 1.5rem;
    }

    h5{
        font-size: 0.7rem;
    }

    .logo{
      display: flex;
      justify-content: center;
      margin-right: 2rem;
      margin-top: 3rem;
      }
      
      /* Logo */
      .logo img {
        width: 28rem;
      }
    
      .main-nav ul {
        list-style: none;
        display: flex;
        gap: 1rem; /* mellemrum mellem nav tasterne*/
        margin-top: -3rem;
        margin-right: 1.8rem;
        margin-left: 8rem;
      }
    
      .main-nav ul li a {
        text-decoration: none;
        color: var(--moerkbrun);
        font-family: "Poppins", serif;
        font-size: 0.9rem;
        font-weight: 800;
        font-style: italic;
      }


     .overskrifttimeline{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    }
  
      .timelinetext{
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 1rem;
      }

      .timelinetext2{
        text-align: center;
          padding-left: 2rem;
          padding-right: 2rem;
          margin-top: 1rem;
      }
  
      section.koncert {
        gap: 5rem;
        margin-top: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
      }

        section.koncert img {
        width: 23rem;
        height: 24rem;
        margin-left:1rem;
        margin-right:1rem;
        align-items: center;
        }


    section.koncert::-webkit-scrollbar {
        margin-top: -10rem;

  }

        .tidslinje{
            display: flex;
            width:100%;
            justify-content: space-between;
            align-items: start; /* Justerer elementerne til venstre */
            padding: 5rem;
            margin-top:-3rem;
            padding-left: 3rem;
            padding-right: 3rem;
          }
    
      
    .footer{
      flex-direction: column;
      margin-top: 5rem;
  }
  
  
  /* Flex styling til hver footer-sektion */
  .footer-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column; /* Laver en lodret stak af h2 og p */
    align-items: start; /* Justerer elementerne til venstre */
    padding: 4rem;
  }
  
  .footer-section h3 {
    margin: 0;
    font-size:1.5rem;
  }
  
  .footer-section p{
    font-size: 1rem;
  }
  
  .ikoner{
    margin-top: 1rem;
    width: 14rem;
  }
    }